<h1> Hello, <%= current_user.full_name %>! </h1>

<div class="user-profile-container">
  <div class="my-watches">
    <u> <%= "My Watches" %> </u>
  </div>
  
  <div class="divider"></div>
  
  <div class="my-wishlist">
    <u> <%= "My Wishlist" %> </u>
  </div>
</div>

 <%= link_to "Delete my account permanently.", user_destroy_path, method: :delete %>
