<h1> Watch Models </h1> 
<ul class='watch-list'>
  <% @watches.each do |watch| %>
    <div class="watch-item">
      <div class="watch-image">
        <%= image_tag watch.photo, style: 'max-width: 150px; max-height: 150px' %>
      </div>
      <div class="watch-description">
        <div><u>Model</u>: <%= watch.model %></div>
        <div><u>Brand</u>: <%= watch.brand.name %></div>
        <div><u>Price</u>: <%= number_to_currency(watch.price) %></div>
      </div>
    </div>
  <% end %>
</ul>
