/* imports stylesheets to have application.css be the sole entry point for styling */
@import "pages/about";
@import "pages/user_profile";

.header {
  background-color: rgb(219, 216, 216);
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.watch-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.watch-item {
  display: flex;   
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.watch-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.watch-image img {
  max-width: 100%;
  height: auto;
}

.watch-description {
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.brand-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.brand-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.brand-image img {
  max-width: 100%;
  height: auto;
}

.brand-description {
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.footer {
  display: flex;
  margin-top: auto;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.footer-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.footer-item {
  margin-right: 10px;
}

.text-muted {
  color: #6c757d;
  margin-left: auto;
}
