.header {
  background-color: rgb(219, 216, 216);
  padding: 10px 20px;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.watch-list {
  display: flex;               
  flex-wrap: wrap;           
  list-style-type: none;      
  padding: 0;                 
  margin: 0;                  
}

.watch-item {
  margin: 10px;
  text-align: center;          
  display: flex;               
  flex-direction: column;      
  align-items: center;     
}

.brand-item {
  margin: 10px;
  text-align: center;          
  display: flex;               
  flex-direction: column;      
  align-items: center;     
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
}