.watch-list {
  display: flex;               
  flex-wrap: wrap;           
  list-style-type: none;      
  padding: 0;                 
  margin: 0;                  
}

.watch-item {
  margin: 10px;                
  text-align: center;          
  display: flex;               
  flex-direction: column;      
  align-items: center;     
}
