<h1> Brands </h1> 
<ul class='brand-list'>
  <% @brands.each do |brand| %>
    <div class="brand-item">
      <div class="brand-image">
        <%= image_tag brand.photo, style: 'max-width: 150px; max-height: 150px' %>
      </div>
      <div class="brand-description">
        <div><u>Model</u>: <%= brand.name %></div>
        <div><u>Brand</u>: <%= brand.country %></div>
      </div>
    </div>
  <% end %>
</ul>
